@font-face {
	font-family: 'bebasneue';
	src: url('/site/fonts/BebasNeue.otf');
}

/*Page*/
#pagewrapper {
	font-family:'bebasneue';
	text-align:center;
}
#headTitle{
	font-size:125px;
}
#podcastPromotion{
	font-size:40px;
}
html,body {
	background-color: #333;
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 75px;
}

/*Links*/
a {
	color:#fff;
}
a:visited {
	color:#fff;
}
a:hover {
	color:#f00;
}
a:visited:hover {
	color:#f00;
}
a:active{
	color:#f00;
}

/*Game*/
#canvas {
	/*position: absolute;*/
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}